<div class="wrapper" >
<div class="content-wrapper" style="height: auto;margin-left: 20%;">
    <h1 style="text-align: center;"> Product  Portel  </h1>
    <div style="text-align: center;margin-top: 2%; ">
    <form [formGroup]="peopleForm">
    <div formArrayName="people">
      <div *ngFor="let person of people.controls; let i = index" formGroupName="i">
        <input type="text" formGroupName="vendorId">
        <h4> {{ i + 1 }}</h4>

        <div>
          <label>PP_Name:</label>
          <input type="text" formControlName="productId">
        </div>
        <div>
            <label>PP_Quantity</label>
            <input type="text" formControlName="productId">
          </div>
        <div>
          <label>Price</label>
          <input type="number" formControlName="age">
        </div>
        <button (click)="removePerson(i)">Remove Person</button>
      </div>
    </div>
    <button (click)="addPerson()">Add Person</button><br>
    <button type="submit">submit</button>

  </form></div></div></div>