<div class="container d-flex justify-content-center align-items-center">
             
    <div class="card">

     <div class="upper">

       <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
       
     </div>

     <div class="user text-center"> 

       <div class="profile" *ngFor="let user of adminTypes">

         <img alt="jpg" [src]=user.profileImage height="50px" class="rounded-circle" width="80">
         
       </div>

     </div>


     <div class="mt-5 text-center" *ngFor="let user of adminTypes">

       <h4 class="mb-0">{{user.name}}</h4>
       <span class="text-muted d-block mb-2">{{user.address}}</span>
       <span class="text-muted d-block mb-2">{{user.contactNo}}</span>
       <a class="btn btn-primary btn-sm follow" href="https://www.google.com/maps/dir//V3GV%2BJ3G,+Naurangabad,+Aligarh,+Uttar+Pradesh/@27.8765491,78.0102864,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3974a4a0c40fcb77:0x7c6549f94e755146!2m2!1d78.0927142!2d27.8765646?entry=ttu">Direction</a>


       <div class="d-flex justify-content-between align-items-center mt-4 px-4">

         <div class="stats" >
           <h6 class="mb-0">Customer</h6>
           <span >{{this.clientType}}</span>

         </div>


         <div class="stats">
           <h6 class="mb-0">Total Product</h6>
           <span>{{this.totalProduct}}</span>

         </div>


         <div class="stats">
           <h6 class="mb-0">Total Sale</h6>
           <span>{{this.orderData}}</span>

         </div>
         
       </div>
       
     </div>
      
    </div>

  </div>